#aciklama {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 900px;  
    margin: 0 auto;
    font-size: 18px;  
    padding: 20px;
    border-top: 2px solid black;
    font-size: 20px;
}

.shadowed-image {
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6); /* Gölge */
    display: block;
    max-width: 100%;
    height: auto;
}

.resimcumle{
    color: #FFFDFA;
    font-size: 20px;
}

